#theul li {
  list-style: none;
  float: left;
  margin-left: 20px;
  height: 195px;
  z-index: 200000;
}

ol,
ul {
  margin: 0;
  padding: 0;
}

#anniu button {
  width: 100px;
  height: 40px;
}

#btn {
  width: 40px;
  margin-top: 270px;
  left: 350px;
  height: 140px;
  border: 0;
  border-left: 1px solid rgb(23, 32, 43, 0.2);
  background: #f8f8f8;
  color: #000;
  cursor: pointer;
  margin-left: -3px;
}

.box {
  float: left;
  position: relative;
  left: 0;
  height: 81.5%;
  width: 19%;
  margin-left: 0;
  display: block;
  transition: margin-left 2s;
  z-index: 100;
  min-height: 682px;
}

#maindiv {
  width: 100%;
  height: 78%;
  background: #f8f8f8;
  margin: 0;
  padding: 0;
  min-width: 1770px;
}

#myul li {
  list-style: none;
}

#myul a {
  text-decoration: none;
}

#myull li {
  list-style: none;
}

#myulll li {
  list-style: none;
}

#myullll li {
  list-style: none;
}

#anniu button:hover {
  background-color: rgba(140, 171, 110, 0.3);
}

#myul li:hover {
  background: #8cab6e;
  cursor: pointer;
}

#myull li:hover {
  background: #8cab6e;
  cursor: pointer;
}

#myulll li:hover {
  background: #8cab6e;
  cursor: pointer;
}

#myullll li:hover {
  background: #8cab6e;
  cursor: pointer;
}

#biao li {
  list-style: none;
}

#biao tr:not(:first-child):hover {
  background: #8cab6e;
  cursor: pointer;
}

#biao {
  font-weight: bold;
}

#mytable li {
  text-align: center;
  list-style: none;
  height: 30px;
  line-height: 30px;
  font-weight: bold;
}

#build li {
  list-style: none;
  font-size: 17px;
  font-weight: bold;
}

#build li:hover {
  background: #8cab6e;
  cursor: pointer;
}

#build span {
  color: #3c763d;
}

#build a {
  color: #3c763d;
  text-decoration: none;
}

#quanju::-webkit-input-placeholder {
  color: #ffffff;
  opacity: 0.7;
}

#xialai li:hover {
  cursor: pointer;
}

#xialai2 li:hover {
  cursor: pointer;
}

.dropdown-menu > li > a:hover {
  background: #337ab7;
  color: #fff;
}

body {
  height: 100%;
  position: absolute;
  width: 100%;
  overflow: auto;
}
